doctype html
html
  head
    title Hayley A. Silverman
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    meta(name="viewport" content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name="apple-mobile-web-app-capable" content="yes")
  body
    block content
    script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
    script(src='/javascripts/app.js')
