extends layout

block content
  if image
    .Block(style="background-image: url(" + image.original.url + ")")

  .BlockMetadata
    if description_html
      .BlockMetadata__description
        != helpers.addLinkTarget(description_html)

  a.BlockBack(href="/#" + id) ×