html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 1.33;
  -webkit-font-smoothing: antialiased;
}

a {
  color: gray;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
}

.Header {
  margin: 3em 0;
  text-align: center;
  font-weight: bold;
}

.Header iframe{
  width: 500px;
}

.Grid {
  width: 100%;
  height: 100%;
  padding: 0 2em 2em;
  text-align: center;
  box-sizing: border-box;
}

.GridBlock {
  display: inline-block;
  padding: 0.5em;
  max-width: 550px;
}
.GridBlock.GridBlock--Text {
  display: block;
  max-width: 100%;
}

.GridBlock > img {
  opacity: 0;
  transition: opacity 500ms;
  background-color: #ccc;
}

.GridBlock > .img--loaded {
  opacity: 1;
}

.GridBlock > figure {
  position: relative;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  line-height: 0;
}

.GridBlock > figure img {
  transition: opacity 0.4s; 
}
.GridBlock > img {
  max-width: 100%;
  max-height: 100%;
}

.GridBlock > figure figcaption {
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 1.5;
  display: block;
  width: 100%;
  position: absolute;
  bottom: -1px;
  padding: 1.2em;
  font-size: 12px;
  text-align: left;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
  overflow: hidden;
  max-height: 100%;
}

.GridBlock > figure figcaption p {
  margin: 0;
}

figure:hover img {
  opacity: 0.9; 
}

figure:hover figcaption {
  opacity: 1; 
}

.Block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #F0F0F0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.BlockMetadata {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 400px;
  background-color: #fff;
}

.BlockMetadata p:last-child {
  margin-bottom: 0;
}

.BlockBack {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 50px;
  line-height: 0.5;
  padding: 0.25em;
}

.BlockDown {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 2.5em;
  }
  .BlockContainer {
    height: 100vh;
    position: relative;
  }
  .BlockMetadata {
    width: 100%;
    font-size: 12px;
    top: 100%;
    bottom: auto;
    margin-bottom: 10em;
  }
  .BlockDown {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;
    padding: 0.25em;
  }
  .Header iframe{
    width: 100%;
  }
}
